Repository FunkinCrew/Funkin, changes with the labels that .github/labeler.yml gives for each.
All labels: pr: documentation, pr: haxe, pr: github

easier script for creating macos universal binaries
  docs/COMPILING_MAC.md
Labels: pr: documentation

hopefully resolve conflicts
  source/funkin/modding/IScriptedClass.hx
  source/funkin/modding/events/ScriptEvent.hx
  source/funkin/modding/events/ScriptEventDispatcher.hx
  source/funkin/modding/events/ScriptEventType.hx
  source/funkin/modding/module/Module.hx
  source/funkin/play/GameOverSubState.hx
  source/funkin/play/song/Song.hx
  source/funkin/play/stage/Bopper.hx
  source/funkin/play/stage/Stage.hx
Labels: pr: haxe

Pixel Icon Metadata
  source/funkin/play/character/CharacterData.hx
  source/funkin/ui/PixelatedIcon.hx
  source/funkin/ui/freeplay/SongMenuItem.hx
Labels: pr: haxe

Add Color Picker option to Event Schema
  source/funkin/data/event/SongEventSchema.hx
  source/funkin/ui/debug/charting/toolboxes/ChartEditorEventDataToolbox.hx
Labels: pr: haxe

Metadata corrections + remove unused code
  source/funkin/play/character/CharacterData.hx
Labels: pr: haxe

Add function for easy FlxColor access
  source/funkin/data/song/SongData.hx
  source/funkin/ui/debug/charting/toolboxes/ChartEditorEventDataToolbox.hx
Labels: pr: haxe

would be logical to probably add this
  source/funkin/data/song/SongData.hx
Labels: pr: haxe

change the dimensions a little
  source/funkin/ui/debug/charting/toolboxes/ChartEditorEventDataToolbox.hx
Labels: pr: haxe

Un-hardcore winter-horrorland cutscene
  source/funkin/play/PlayState.hx
  source/funkin/play/cutscene/VanillaCutscenes.hx
Labels: pr: haxe

Implement desaturated sustains + sustain regrabs
  source/funkin/play/PlayState.hx
  source/funkin/play/notes/Strumline.hx
  source/funkin/play/notes/SustainTrail.hx
  source/funkin/util/Constants.hx
Labels: pr: haxe

whoops, wrong sign
  source/funkin/play/notes/Strumline.hx
Labels: pr: haxe

Fix highscores not submitting to the website unless they are a personal best.
  source/funkin/play/PlayState.hx
  source/funkin/save/Save.hx
Labels: pr: haxe

Fix an issue where story mode medals would not be awarded without a personal best.
  source/funkin/play/PlayState.hx
  source/funkin/play/ResultState.hx
  source/funkin/ui/charSelect/CharSelectSubState.hx
  source/funkin/ui/debug/results/ResultsDebugSubState.hx
Labels: pr: haxe

Fix a deprecation warning.
  source/funkin/save/Save.hx
Labels: pr: haxe

Improve null safety of medal and leaderboard classes.
  source/funkin/api/newgrounds/Events.hx
  source/funkin/api/newgrounds/Leaderboards.hx
  source/funkin/api/newgrounds/Medals.hx
Labels: pr: haxe

2024 -> 2025 0.6.x changelog date fixins (closes FUNK-1740)
  CHANGELOG.md
Labels: pr: documentation

Auto Pause -> Pause on Unfocus (was changed before but prob bad merge somewhere reverted it?)
  source/funkin/ui/options/PreferencesMenu.hx
Labels: pr: haxe

data -> data.score
  source/funkin/play/PlayState.hx
Labels: pr: haxe

More customizable note splash data
  source/funkin/data/notestyle/NoteStyleData.hx
  source/funkin/play/notes/NoteSplash.hx
  source/funkin/play/notes/Strumline.hx
  source/funkin/play/notes/notestyle/NoteStyle.hx
Labels: pr: haxe

quick patch for cory
  source/funkin/api/newgrounds/Events.hx
Labels: pr: haxe

Sort the default difficulties
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: pr: haxe

Remove some unused/redundant debug hotkeys.
  source/funkin/play/ResultState.hx
  source/funkin/ui/charSelect/CharSelectGF.hx
  source/funkin/ui/freeplay/FreeplayDJ.hx
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/title/TitleState.hx
  source/funkin/ui/transition/LoadingState.hx
  source/funkin/ui/transition/StickerSubState.hx
Labels: pr: haxe

Fix Pixo's freeplay AFK animation not playing (properly this time).
  source/funkin/graphics/adobeanimate/FlxAtlasSprite.hx
  source/funkin/ui/freeplay/FreeplayDJ.hx
Labels: pr: haxe

Fix certain characters pixel icons not displaying properly in the chart editor.
  source/funkin/play/character/CharacterData.hx
  source/funkin/ui/PixelatedIcon.hx
Labels: pr: haxe

Zero out the ABot visualizer before the song starts.
  source/funkin/audio/visualize/ABotVis.hx
Labels: pr: haxe

Fix results screen music continuing to play when using the debugger
  source/funkin/play/ResultState.hx
Labels: pr: haxe

No longer crashes when given a null difficulty/chart
  source/funkin/ui/transition/LoadingState.hx
Labels: pr: haxe

More freeplay navigation options
  source/funkin/data/story/level/LevelData.hx
  source/funkin/input/Controls.hx
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/freeplay/SongMenuItem.hx
  source/funkin/ui/options/ControlsMenu.hx
  source/funkin/ui/story/Level.hx
Labels: pr: haxe

Switch remixes + Random freeplay level select
  source/funkin/input/Controls.hx
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/options/ControlsMenu.hx
Labels: pr: haxe

'stayClose' to generateSongList
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: pr: haxe

Remove traces in stayClose block
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: pr: haxe

Use public submodule URLs (would be nice if this was automatic but oh well)
  .gitmodules
Labels: none

swap restart and skip in dialogue pause menu
  source/funkin/play/PauseSubState.hx
Labels: pr: haxe

Use public URLs for git submodules
  .gitmodules
Labels: none

Use public URLs for git submodules
  .gitmodules
Labels: none

fix: Force UI Camera resize
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: pr: haxe

feat: qol changes to strumlines
  source/funkin/play/PlayState.hx
  source/funkin/play/event/ChangeNoteStyleSongEvent.hx
  source/funkin/play/notes/Strumline.hx
  source/funkin/play/notes/StrumlineNote.hx
  source/funkin/play/notes/SustainTrail.hx
  source/funkin/ui/debug/latency/LatencyState.hx
Labels: pr: haxe

Make sound effects pause with the game
  source/funkin/play/PauseSubState.hx
  source/funkin/play/PlayState.hx
Labels: pr: haxe

use itch io api
  source/funkin/InitState.hx
  source/funkin/ui/title/OutdatedState.hx
Labels: pr: haxe

haxe ui focus check
  source/funkin/util/WindowUtil.hx
Labels: pr: haxe

.github/labeler.yml:

# Add Documentation tag to PR's changing markdown files, or anything in the docs folder
'pr: documentation':
- changed-files:
  - any-glob-to-any-file:
      - docs/*
      - '**/*.md'

# Add Haxe tag to PR's changing haxe code files
'pr: haxe':
- changed-files:
  - any-glob-to-any-file: '**/*.hx'

# Add GitHub tag to PR's changing yml files, or anything in the .github folder 
'pr: github':
- changed-files:
  - any-glob-to-any-file:
      - github/*
      - '**/*.yml'
