Repository FunkinCrew/Funkin, pull requests merged in 2024-05, with the labels that each got.

#2370 Character selection fix for chart editor
  source/funkin/ui/debug/charting/dialogs/ChartEditorCharacterIconSelectorMenu.hx
Labels: reviewing-internally

#2499 Fix Web Loading Bar
  source/funkin/ui/transition/LoadingState.hx
Labels: reviewing-internally

#2396 Add a fix guide for those with poor internet connection
  docs/COMPILING.md
Labels: documentation

#2508 Ludum Dare 47 typo
  README.md
Labels: documentation

#2581 [FEATURE] Custom Note Style Support
  source/funkin/play/PlayState.hx
  source/funkin/ui/debug/charting/toolboxes/ChartEditorMetadataToolbox.hx
Labels: reviewing-internally

#2488 Fix hold notes on downscroll
  source/funkin/play/notes/Strumline.hx
Labels: reviewing-internally

#2553 [BUGFIX] Fix Web Loading Bar (Again)
  source/funkin/ui/transition/LoadingState.hx
Labels: reviewing-internally

#2457 [BUGFIX] Freeplay Crash when song is invalid
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: reviewing-internally

#2603 [BUGFIX] Unscripted Stage Log Trace (missing toString for Stage)
  source/funkin/play/stage/Stage.hx
Labels: reviewing-internally

#2585 Make texts update on difficulty change in Story Menu
  source/funkin/ui/story/StoryMenuState.hx
Labels: reviewing-internally

#2539 [BUGFIX] Fix TitleState bugs + crash
  source/funkin/ui/title/TitleState.hx
Labels: reviewing-internally

#2629 [BUGFIX?] Reset CWD before Preloader
  source/funkin/ui/transition/preload/FunkinPreloader.hx
Labels: reviewing-internally

#2565 [BUGFIX] Charting Editor Sustain Trails (2 bugs)
  source/funkin/ui/debug/charting/ChartEditorState.hx
  source/funkin/ui/debug/charting/components/ChartEditorHoldNoteSprite.hx
Labels: reviewing-internally

#2409 [FEATURE] Scroll Speed Event
  source/funkin/play/PlayState.hx
  source/funkin/play/event/ScrollSpeedEvent.hx
  source/funkin/play/notes/Strumline.hx
  source/funkin/play/notes/SustainTrail.hx
  source/funkin/ui/debug/charting/components/ChartEditorHoldNoteSprite.hx
Labels: enhancement, reviewing-internally

#2328 New judge application logic
  source/funkin/modding/events/ScriptEvent.hx
  source/funkin/play/PlayState.hx
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: reviewing-internally

#2610 [BUGFIX] Correct characters scaling on stage
  source/funkin/play/stage/Stage.hx
Labels: reviewing-internally
