Repository FunkinCrew/Funkin, pull requests merged in 2024-09, with the labels that each got.

#2310 Better offsets handling for gameplay props.
  source/funkin/play/character/BaseCharacter.hx
  source/funkin/play/stage/Bopper.hx
Labels: status: accepted, type: optimization, medium

#2584 [DOCS] Update compiling guide with more troubleshooting
  docs/COMPILING.md
Labels: type: documentation, status: accepted, medium

#3328 [DOCS] Update to troubleshooting guide
  docs/troubleshooting.md
Labels: type: documentation, status: accepted

#3005 [BUGFIX] Default health icon (face) not used
  source/funkin/play/components/HealthIcon.hx
Labels: type: minor bug, status: accepted, medium

#3058 Use chart inst offset for song resync + other resync fixes
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: accepted, medium

#2926 [CODE TWEAK] `FunkinSound.playOnce` return the created sound
  source/funkin/audio/FunkinSound.hx
Labels: type: enhancement, status: accepted, small

#2820 [ENHANCEMENT/BUGFIX] Few animation editor bugfixes and improvements
  hmm.json
  source/funkin/ui/debug/anim/DebugBoundingState.hx
Labels: type: enhancement, status: accepted, medium

#3020 [ENHANCEMENT] Custom Popups and Countdowns
  source/funkin/play/PlayState.hx
  source/funkin/play/components/PopUpStuff.hx
  source/funkin/ui/transition/LoadingState.hx
Labels: type: enhancement, status: accepted, large

#3139 chore: Update ScriptedFunkinSprite.hx
  source/funkin/modding/base/ScriptedFunkinSprite.hx
Labels: type: documentation, status: accepted

#3282 [DOCUMENTATION] playSound Typo in NoteScriptEvent
  source/funkin/modding/events/ScriptEvent.hx
Labels: type: documentation, status: accepted

#3438 [BUGFIX] Fix develop branch
  source/funkin/play/PlayState.hx
  source/funkin/play/components/PopUpStuff.hx
  source/funkin/ui/debug/anim/DebugBoundingState.hx
Labels: status: pending triage

#3435 Chore: Upgrade Example Mods to latest API version
  example_mods/introMod/_polymod_meta.json
  example_mods/testing123/_polymod_meta.json
Labels: type: compilation help, mods, status: accepted

#3118 [BUGFIX] FunkinSound persistence
  source/funkin/audio/FunkinSound.hx
Labels: status: accepted, type: optimization

#3131 [ENHANCEMENT] let modules interact with each other during onDestroy
  source/funkin/modding/module/ModuleHandler.hx
Labels: type: minor bug, mods, status: accepted

#3329 Add `getPath()` to `funkin.Assets`
  source/funkin/Assets.hx
Labels: type: enhancement, mods, status: accepted

#3337 [BUGFIX/ENHANCEMENT] Changes instances of FlxG.mouse.screen(x/y) to FlxG.mouse.view(x/y) in ChartEditorState.hx (and more)
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: major bug, chart editor, status: accepted

#3351 Fix note and receptor scaling and note tail offsets
  source/funkin/play/notes/StrumlineNote.hx
  source/funkin/play/notes/SustainTrail.hx
  source/funkin/play/notes/notestyle/NoteStyle.hx
Labels: type: enhancement, status: accepted

#3355 [BUGFIX] Disable input in CharSelect until stayFunky plays
  source/funkin/modding/base/ScriptedFunkinSprite.hx
Labels: type: major bug, status: accepted

#3356 [BUGFIX] Fix bug where FPS counter was always displaying on startup even when disabled
  source/Main.hx
Labels: type: minor bug, status: accepted

#3357 [BUGFIX] Modding (Polymod): Make addCharacter actually set the characters type
  source/funkin/play/stage/Stage.hx
Labels: type: enhancement, mods, status: accepted

#3398 [BUGFIX] Stop input spam on character select
  source/funkin/ui/charSelect/CharSelectSubState.hx
Labels: status: pending triage
