Repository FunkinCrew/Funkin, pull requests merged in 2024-07, with the labels that each got.

#2962 [Minor Fix] Remove duplicate lines in CHANGELOG.md for Version 4.0
  CHANGELOG.md
Labels: type: documentation, status: accepted

#2984 [DOCS] Add common troubleshooting steps to compiling guide
  docs/COMPILING.md
Labels: type: documentation, status: accepted

#2996 [DOCS] Automatically assign 'status: pending triage' label to all new issues
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/bug.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
Labels: type: documentation, status: accepted, small

#2717 [FEATURE] Better issue and pull request templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/crash.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
Labels: type: documentation, status: needs revision

#2452 Update ScriptEventType.hx
  source/funkin/modding/events/ScriptEventType.hx
Labels: type: documentation, status: accepted, small

#2742 [BUGFIX] Made freeplay use the metadata to get the instrumental suffix
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: accepted, small
