Repository FunkinCrew/Funkin, pull requests merged in 2024-10, with the labels that each got.

#3093 [BUGFIX] Player's left notes being selected when they shouldn't
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: minor bug, chart editor, status: accepted

#3509 Fix an issue where .gitmodules would point to the wrong repository
  .gitmodules
Labels: type: minor bug, status: accepted

#3508 [DOCS] Update changelog for v0.5.1
  .gitmodules
  CHANGELOG.md
Labels: type: documentation, status: accepted

#3493 Fix an issue where LatencyState crashes when exiting
  source/funkin/ui/debug/latency/LatencyState.hx
Labels: type: major bug, status: accepted

#3546 [BUGFIX] Changing song/input offsets no longer causes the game to go all weird
  source/funkin/Conductor.hx
  source/funkin/play/PlayState.hx
Labels: status: accepted

#2799 Fix duplicate combo counter on combo break
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: accepted, small

#3587 [BUGFIX] Don't restart the FreeplayState song preview when changing the difficulty within the same variation
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: small, haxe

#3607 chore: Blacklist an additional class in Polymod.
  source/funkin/modding/PolymodHandler.hx
Labels: status: pending triage, small, haxe

#2853 [BUGFIX/ENHANCEMENT] Fix Soundtray Aliasing / Smoothing
  source/funkin/ui/options/FunkinSoundTray.hx
Labels: type: enhancement, status: reviewing internally, small, haxe, documentation

#3629 [FIX] Remove Flicker When Accepting FPS Setting
  source/funkin/ui/options/items/EnumPreferenceItem.hx
  source/funkin/ui/options/items/NumberPreferenceItem.hx
Labels: small, haxe, documentation

#3652 docs(changelog): create a git cliff template for easier changelog stuff
  cliff.toml
Labels: medium

#3651 chore: Delete `Modding.md`
  Modding.md
Labels: medium, documentation

#3654 Rewrite CHANGELOG.md for v0.5.2
  CHANGELOG.md
Labels: type: documentation, status: accepted, documentation

#3655 [docs] Add missing changes and links to Changelog
  CHANGELOG.md
Labels: type: documentation, status: reviewing internally, large, documentation

#3768 Added smoother scrolling when using the Chart Editor
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: large, haxe

#3752 chore: Fix a typo in `CHANGELOG.md`
  CHANGELOG.md
Labels: small, medium, documentation

#3769 fix: fixes the initial camera position on the debug menu
  source/funkin/ui/debug/DebugMenuSubState.hx
Labels: small, haxe

#3538 Revert "[BUGFIX] Reset CWD before Preloader"
  source/funkin/ui/transition/preload/FunkinPreloader.hx
Labels: small, haxe, documentation

#2860 Clean up a part of ChartEditorThemeHandler, fixing a bug with it.
  source/funkin/ui/debug/charting/handlers/ChartEditorThemeHandler.hx
Labels: type: enhancement, status: reviewing internally, chart editor, medium, haxe

#3806 fix: re-enable precise chart editor scrolling, and also fix smooth scroll playhead/playbar playback
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: small, haxe
