Repository FunkinCrew/Funkin, pull requests merged in 2024-06, with the labels that each got.

#2662 Update COMPILING, adding one step
  docs/COMPILING.md
Labels: Fixed Interally

#2490 [Linux] Fix "Unexpected argument '&'" error when trying to open URL
  source/funkin/util/WindowUtil.hx
Labels: reviewing-internally

#2451 abstract enum pagename
  source/funkin/ui/options/OptionsState.hx
Labels: reviewing-internally

#2914 Add change counts labels to Actions labeler
  .github/changed-lines-count-labeler.yml
  .github/workflows/labeler.yml
Labels: type: documentation, status: reviewing internally
