Repository FunkinCrew/Funkin, pull requests merged in 2025-06, with the labels that each got.

#4058 Make sound effects pause with the game
  source/funkin/play/PauseSubState.hx
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe

#4207 Remove spammy traces from `DiscordClient`
  source/funkin/api/discord/DiscordClient.hx
Labels: topic: platform specific, status: accepted, type: optimization, size: small, pr: haxe

#4875 [BUGFIX] Fix Countdown Stacking upon Restarting
  source/funkin/play/PlayState.hx
Labels: type: major bug, status: accepted, size: medium, pr: haxe

#4949 [BUGFIX] Chart editor - Use first difficulty only as fallback
  source/funkin/ui/debug/charting/handlers/ChartEditorImportExportHandler.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: small, pr: haxe

#4956 [BUGFIX] Fix the Gitaroo Man Easter Egg screen not saving all PlayState Parameters
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#4127 [BUGFIX] Move the Note Trails when moving a Held Note in the Chart Editor
  source/funkin/ui/debug/charting/ChartEditorState.hx
  source/funkin/ui/debug/charting/components/ChartEditorHoldNoteSprite.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#4577 Fix Lit Up being impossible to submit score into
  source/funkin/api/newgrounds/Leaderboards.hx
Labels: type: minor bug, topic: scoring, status: accepted, pr: haxe, size: tiny

#4520 [BUGFIX] Hide debug cursor when Title Screen starts
  source/funkin/ui/title/TitleState.hx
Labels: type: minor bug, topic: polish, status: accepted, pr: haxe, size: tiny

#3609 Sort Favorites by Week order, not alphabetically
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: enhancement, status: accepted, pr: haxe, topic: freeplay, size: tiny

#5040 [ENHANCEMENT] Sandboxed API Classes
  source/funkin/api/discord/DiscordClient.hx
  source/funkin/api/newgrounds/Leaderboards.hx
  source/funkin/api/newgrounds/Medals.hx
  source/funkin/api/newgrounds/NewgroundsClient.hx
  source/funkin/modding/PolymodHandler.hx
Labels: type: enhancement, status: accepted, size: large, pr: haxe

#4114 Open chart editor on selected song in freeplay state
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: enhancement, topic: chart editor, status: accepted, size: medium, pr: haxe, topic: freeplay

#3732 [BUGFIX] Fix Audio/Visual Offset causing skips on song start
  source/funkin/Conductor.hx
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe

#4249 Chart editor - Add all tween types
  source/funkin/play/event/FocusCameraSongEvent.hx
  source/funkin/play/event/ScrollSpeedEvent.hx
  source/funkin/play/event/ZoomCameraSongEvent.hx
Labels: type: enhancement, topic: chart editor, status: accepted, size: medium, pr: haxe

#4308 Chart editor - Clear un/redo history on song load
  source/funkin/ui/debug/charting/handlers/ChartEditorImportExportHandler.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: small, pr: haxe

#5065 [BUGFIX] Fix the game crashing when hot-reloading with F5
  source/funkin/play/PlayState.hx
Labels: type: major bug, status: accepted, pr: haxe, size: tiny

#4986 [BUGFIX] Freeplay menu - New rank doesn't SMASH old rank
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/freeplay/SongMenuItem.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe, topic: freeplay

#5023 [ENHANCEMENT] Always display charSelectHint after unlocking character
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: enhancement, status: accepted, pr: haxe, topic: freeplay, size: tiny

#5185 Vulnerability Patch: Blacklist `funkin.util.macro.*`
  source/funkin/modding/PolymodHandler.hx
Labels: topic: mods, status: accepted, size: small, pr: haxe, type: security vulnerability

#4762 chore: Format the `project.hxp` file
  project.hxp
Labels: status: accepted, type: chore, size: huge

#5024 [BUGFIX] Prevent Chart Editor playhead from scrolling before song start
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: minor bug, topic: chart editor, status: accepted, pr: haxe, size: tiny

#4257 [BUGFIX] Fix Chart Editor playbar millisecond display
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: minor bug, topic: chart editor, status: accepted, pr: haxe, size: tiny

#4940 Fix crash when trying to open nonexistent folder
  source/funkin/ui/debug/charting/handlers/ChartEditorImportExportHandler.hx
  source/funkin/util/FileUtil.hx
Labels: type: major bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#4203 Chart editor - ctrl click on hold note null reference fix
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: major bug, topic: chart editor, status: accepted, pr: haxe, size: tiny

#4211 Main menu - Cancel state change on debug menu open
  source/funkin/ui/MenuList.hx
  source/funkin/ui/mainmenu/MainMenuState.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#5085 [BUGFIX] Fix LatencyState cleanup not being performed in hot-reload
  source/funkin/ui/debug/latency/LatencyState.hx
Labels: type: major bug, status: accepted, pr: haxe, size: tiny

#5160 [BUGFIX] Fix TitleState Shader Crash
  source/funkin/ui/title/TitleState.hx
Labels: type: major bug, status: accepted, size: medium, pr: haxe

#5036 [BUGFIX] Fix Two Issues With Song Text on Freeplay Capsules
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/freeplay/SongMenuItem.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe, topic: freeplay

#5239 [BUGFIX] Stage Editor - Are you sure?
  source/funkin/ui/debug/stageeditor/StageEditorState.hx
Labels: type: minor bug, status: reviewing internally, size: medium, pr: haxe

#5238 [ENHANCEMENT] Stage Editor - Closeable toolboxes
  source/funkin/ui/debug/stageeditor/toolboxes/StageEditorCharacterToolbox.hx
  source/funkin/ui/debug/stageeditor/toolboxes/StageEditorDefaultToolbox.hx
  source/funkin/ui/debug/stageeditor/toolboxes/StageEditorObjectAnimsToolbox.hx
  source/funkin/ui/debug/stageeditor/toolboxes/StageEditorObjectGraphicToolbox.hx
  source/funkin/ui/debug/stageeditor/toolboxes/StageEditorObjectPropertiesToolbox.hx
  source/funkin/ui/debug/stageeditor/toolboxes/StageEditorStageToolbox.hx
Labels: type: minor bug, status: reviewing internally, size: medium, pr: haxe, topic: stage editor

#5245 [BUGFIX] Fix exiting from Character Select Screen causing issues with Visuals in FreeplayState
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe, topic: freeplay

#5050 [CHORE] "Auto Pause" -> "Pause on Unfocus" in Module.hx comments
  source/funkin/modding/module/Module.hx
Labels: status: accepted, pr: haxe, type: chore, size: tiny

#4671 [ENHANCEMENT + BUGFIX] Better dialogue wrapping, fix empty text hang
  source/funkin/play/cutscene/dialogue/DialogueBox.hx
  source/funkin/play/cutscene/dialogue/FunkinTypeText.hx
Labels: type: enhancement, status: reviewing internally, size: large, pr: haxe

#4319 New highscore plays twice fix
  source/funkin/play/ResultState.hx
Labels: type: minor bug, topic: polish, status: accepted, size: small, pr: haxe

#5182 [DOCUMENTATION] The default angle value isn't 1.0 you silly
  source/funkin/data/stage/StageData.hx
Labels: type: minor bug, status: accepted, pr: haxe, size: tiny

#5248 [BUGFIX] Freeplay - Intro callback running twice fix
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe, topic: freeplay

#5258 Fix HTML5 compile issue
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: status: pending triage, pr: haxe

#5253 [BUGFIX] Fix Chart Editor's Playbar using incorrect Style Data when switching Editors
  source/funkin/ui/debug/DebugMenuSubState.hx
Labels: type: minor bug, topic: polish, status: accepted, pr: haxe, size: tiny

#5116 [CHORE] Null safety to 14 `ui.freeplay` classes
  source/funkin/ui/freeplay/Album.hx
  source/funkin/ui/freeplay/AlbumRoll.hx
  source/funkin/ui/freeplay/BGScrollingText.hx
  source/funkin/ui/freeplay/CapsuleOptionsMenu.hx
  source/funkin/ui/freeplay/CapsuleText.hx
  source/funkin/ui/freeplay/DifficultyStars.hx
  source/funkin/ui/freeplay/FreeplayDJ.hx
  source/funkin/ui/freeplay/FreeplayFlames.hx
  source/funkin/ui/freeplay/FreeplayScore.hx
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/freeplay/FreeplayStyle.hx
Labels: status: accepted, size: large, pr: haxe, type: chore

#4368 [CHORE] `AtlasText` - Add null safety
  source/funkin/ui/AtlasText.hx
Labels: status: accepted, size: small, pr: haxe, type: chore

#4367 [CHORE] `CharacterData` - Add null safety
  source/funkin/play/character/CharacterData.hx
Labels: status: reviewing internally, size: medium, pr: haxe, type: chore

#4749 chore: Add null-safety to `Leaderboards` and `Medals`
  source/funkin/api/newgrounds/Leaderboards.hx
  source/funkin/api/newgrounds/Medals.hx
Labels: status: accepted, size: medium, pr: haxe, type: chore

#4905 [BUGFIX] Fix Debug Results not showing correct rank
  source/funkin/ui/debug/results/DebugTallies.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe

#5120 [CHORE] Remove comments related to `ComboMilestone`
  source/funkin/play/PlayState.hx
Labels: status: accepted, size: small, pr: haxe, type: chore

#4642 [ENHANCEMENT] Add Perfect (Gold) to Results Screen Debug
  source/funkin/ui/debug/results/DebugTallies.hx
Labels: type: enhancement, status: accepted, size: medium, pr: haxe

#4583 [BUGFIX] Ensure Rank Display stays after changing variations
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe, topic: freeplay

#4676 Check if TERM starts with `xterm`
  source/funkin/util/logging/AnsiTrace.hx
Labels: type: minor bug, topic: platform specific, status: reviewing internally, pr: haxe, size: tiny

#4348 [BUGFIX] Prevent the Weekend 1's Story Menu Title from eating up too much space from other Titles
  source/funkin/ui/story/StoryMenuState.hx
Labels: type: minor bug, status: reviewing internally, size: medium, pr: haxe

#4879 [BUGFIX] Fix Charter field not being set in song metadata
  source/funkin/data/song/SongData.hx
  source/funkin/ui/debug/charting/handlers/ChartEditorDialogHandler.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#2655 Recycle Credit Lines
  source/funkin/ui/credits/CreditsState.hx
Labels: status: accepted, type: optimization, size: large, pr: haxe

#5275 Fix a bug where holding down a note after dropping the previous one would sometimes make its cover over not show.
  source/funkin/play/notes/NoteHoldCover.hx
Labels: type: minor bug, topic: polish, status: accepted, pr: haxe, size: tiny
