Repository FunkinCrew/Funkin, pull requests merged in 2025-07, with the labels that each got.

#4029 [BUGFIX] Fix the Copy Items Notification in Chart Editor having faulty movement when moving the Cursor
  source/funkin/ui/debug/charting/commands/CopyItemsCommand.hx
Labels: type: minor bug, topic: chart editor, status: accepted, pr: haxe, size: tiny

#5168 [ENHANCEMENT] [MODDING] Scripted Class support for Sparrow Results Objects
  source/funkin/play/ResultState.hx
Labels: type: enhancement, topic: mods, status: accepted, size: medium, pr: haxe

#4528 [BUGFIX] Chart Editor - Sort difficulties consistently
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: minor bug, topic: chart editor, status: accepted, pr: haxe, size: tiny

#4726 [BUGFIX] Fix Retry Sound after Death Quote finishes
  source/funkin/play/GameOverSubState.hx
Labels: type: minor bug, status: accepted, pr: haxe, size: tiny

#5278 [BUGFIX] Cancel Tweens and Timers upon exiting PlayState
  source/funkin/play/PlayState.hx
Labels: type: major bug, status: accepted, pr: haxe, size: tiny

#4233 [BUGFIX] Chart Editor - Selection context menu fix
  source/funkin/ui/debug/charting/contextmenus/ChartEditorSelectionContextMenu.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#4210 [CLEANUP] Remove unused code from `FreeplayState`
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: status: accepted, size: small, pr: haxe, type: chore, topic: freeplay

#2391 [ENHANCEMENT] timer sequence
  source/funkin/Conductor.hx
  source/funkin/util/TimerUtil.hx
Labels: type: enhancement, status: reviewing internally, size: large, pr: haxe

#4580 [BUGFIX] Fix FNF legacy files not being able to be opened on mac
  source/funkin/ui/debug/charting/handlers/ChartEditorDialogHandler.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: medium, pr: haxe, platform: macos

#5312 [GITHUB] Update issue templates for Mobile
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
Labels: status: accepted, size: medium, pr: github, type: github

#5301 [BUGFIX] Use the actual character ID for `currentCharacterId`
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: accepted, pr: haxe, size: tiny

#5289 Experimental Polymod
  hmm.json
Labels: type: enhancement, topic: mods, status: planned, topic: dependencies, size: tiny

#5391 Bump to 0.7.2
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  docs/CONTRIBUTING.md
Labels: size: small, status: planned, pr: github, type: github

#5458 Clear key from correct map
  source/funkin/FunkinMemory.hx
Labels: type: minor bug, status: accepted, pr: haxe, size: tiny
