Repository FunkinCrew/Funkin, pull requests merged in 2025-03, with the labels that each got.

#4287 Add more rejected features to Contributing Guide
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4296 [DOCS] Changelog Overhaul
  CHANGELOG.md
Labels: type: documentation, status: accepted, size: large, pr: documentation

#4298 [DOCS] Correctly list all new contributors in Changelog + polish
  CHANGELOG.md
Labels: type: documentation, status: accepted, size: large, pr: documentation

#4213 Add remaining debug keys
  docs/Funkin' Debug Hotkeys.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4309 [BUGFIX] Prevent the song being incompletable if the inst is longer than vocals
  source/funkin/play/PlayState.hx
Labels: type: major bug, status: reviewing internally, size: small, pr: haxe

#4330 End the funking song I'm going insane
  source/funkin/play/PlayState.hx
Labels: type: major bug, status: needs revision, size: medium, pr: haxe

#4381 [DOCS] Some additions to the Contributor's Guide
  docs/CONTRIBUTING.md
Labels: type: documentation, status: accepted, size: large, pr: documentation

#4411 [GITHUB + DOCS] Update Issue Templates and CONTRIBUTING.md to 0.6.1
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  docs/CONTRIBUTING.md
Labels: status: pending triage, size: medium, pr: documentation, pr: github, type: github
