Repository FunkinCrew/Funkin, pull requests merged in 2025-02, with the labels that each got.

#4133 [DOCS] Contributor's guide
  docs/CONTRIBUTING.md
Labels: type: documentation, status: accepted, size: large, pr: documentation

#4115 [DOCS] Add more console outputs to Troubleshooting Guide
  docs/TROUBLESHOOTING.md
Labels: type: documentation, status: accepted, size: medium, pr: documentation

#4085 Update Main.hx
  source/Main.hx
Labels: status: needs revision, size: small, pr: haxe, type: chore

#4068 [DOCS] Added missing debug hotkeys
  docs/Funkin' Debug Hotkeys.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4113 chore: Fix the formatting on a few files
  source/funkin/data/song/SongRegistry.hx
  source/funkin/data/stage/StageRegistry.hx
  source/funkin/modding/PolymodHandler.hx
  source/funkin/play/ResultScore.hx
  source/funkin/play/ResultState.hx
  source/funkin/play/notes/SustainTrail.hx
  source/funkin/play/notes/notestyle/NoteStyle.hx
  source/funkin/ui/options/PreferencesMenu.hx
  source/funkin/ui/story/LevelTitle.hx
Labels: status: accepted, size: large, pr: haxe, type: chore

#4096 chore: Fix an inconsistency in one of the comments for `Stage.hx`
  source/funkin/play/stage/Stage.hx
Labels: status: pending triage, size: small, pr: haxe, type: chore

#4151 [CLEANUP] Removed unused code from `TitleState`
  source/funkin/ui/title/TitleState.hx
Labels: status: accepted, size: medium, pr: haxe, type: chore

#4160 [DOCS] Table of Contents for CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: type: documentation, status: reviewing internally, size: medium, pr: documentation

#4056 [DOCS] Add missing comments to 3 functions in `funkin.Assets`
  source/funkin/Assets.hx
Labels: type: documentation, status: accepted, size: small, pr: haxe

#3729 Revert "chore: Blacklist an additional class in Polymod."
  source/funkin/modding/PolymodHandler.hx
Labels: status: accepted, size: small, pr: haxe, type: security vulnerability

#3748 [BUGFIX] Actually check if the Playable Character is unlocked
  source/funkin/ui/charSelect/CharSelectSubState.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#4161 [BUGFIX] Fix the difficulty graphic cutoff in the Results Screen
  source/funkin/play/ResultState.hx
Labels: type: minor bug, status: pending triage, topic: polish, size: small, pr: haxe

#4074 Blacklist `openfl.net.SharedObject` from scripts
  source/funkin/modding/PolymodHandler.hx
Labels: topic: mods, status: accepted, size: small, pr: haxe, type: security vulnerability

#3866 [BUGFIX] Fix the instrumental selector being spammable
  source/funkin/ui/freeplay/CapsuleOptionsMenu.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe

#4103 [ENHANCEMENT] Faster scrolling in Freeplay
  source/funkin/input/Controls.hx
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/options/ControlsMenu.hx
Labels: type: enhancement, status: reviewing internally, size: medium, pr: haxe

#3028 [ENHANCEMENT] Add the ability to flip the character in the Animation Editor
  source/funkin/ui/debug/anim/DebugBoundingState.hx
Labels: type: enhancement, status: reviewing internally, size: small, pr: haxe

#4208 [GITHUB] Remove issue reopening workflow
  .github/workflows/label-issue.yml
Labels: status: pending triage, size: medium, pr: github, type: github

#3799 [ENHANCEMENT]: ResultState Accept Keybinds
  source/funkin/play/ResultState.hx
Labels: type: enhancement, status: accepted, size: small, pr: haxe
