Repository FunkinCrew/Funkin, pull requests merged in 2025-08, with the labels that each got.

#5596 [DOCS] Tiny Changelog adjustments + credit another contributor
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#5527 [ENHANCEMENT] Make Android Back button close the game in Title screen
  source/funkin/ui/title/TitleState.hx
Labels: type: enhancement, status: reviewing internally, size: small, pr: haxe, platform: android

#5560 [BUGFIX] Fix the Freeplay Difficulty Stars not showing up correctly upon song completion
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: reviewing internally, size: small, pr: haxe

#5520 [CHORE] Restore yet another lost change
  source/funkin/ui/mainmenu/MainMenuState.hx
Labels: status: accepted, pr: haxe, type: chore, size: tiny

#5608 [BUGFIX] Fix Preferences Camera Position Upon Enter
  source/funkin/ui/options/PreferencesMenu.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#5392 Just a lil' update of the readme
  README.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#5303 [BUGFIX] Fix the Stage Editor's XML Generation not accounting for Rotated Frames
  source/funkin/ui/debug/stageeditor/handlers/AssetDataHandler.hx
Labels: type: minor bug, status: reviewing internally, pr: haxe, topic: stage editor, size: tiny

#5408 [BUGFIX] Only destroy paused sounds on restart if they have `autoDestroy` enabled
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: reviewing internally, pr: haxe, size: tiny

#5626 [Enhancement] Add Camera Fade To Selecting Songs and Weeks
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/story/StoryMenuState.hx
Labels: type: minor bug, status: reviewing internally, size: medium, pr: haxe

#5665 Merge main into develop because it would be so awesome
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  CHANGELOG.md
  README.md
  docs/CONTRIBUTING.md
Labels: status: accepted, size: large, pr: documentation, pr: github, type: chore

#5743 [OPTIMIZATION?] Prevent script classes from being registered twice after hot-reloading
  source/funkin/modding/PolymodHandler.hx
Labels: topic: mods, status: accepted, type: optimization, pr: haxe, size: tiny

#5778 [BUGFIX] Fix the softlock caused by "Fix Playtesting While `Are you sure?` dialog is open"
  source/funkin/ui/debug/charting/ChartEditorState.hx
  source/funkin/ui/debug/charting/handlers/ChartEditorDialogHandler.hx
Labels: type: major bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#5655 [BUGFIX] Fix Legacy Chart Import Not Applying Scroll Speed
  source/funkin/data/song/importer/FNFLegacyImporter.hx
Labels: type: minor bug, topic: chart editor, status: accepted, pr: haxe, size: tiny

#5809 [feat/flixel-animate] Apply some lossless quality settings
  source/funkin/graphics/adobeanimate/FlxAtlasSprite.hx
  source/funkin/ui/charSelect/CharSelectAtlasHandler.hx
  source/funkin/ui/charSelect/CharSelectSubState.hx
  source/funkin/ui/freeplay/FreeplayDJ.hx
Labels: status: pending triage, type: optimization, size: small, pr: haxe

#5847 [flixel-animate] Legacy bounds fixes
  hmm.json
  source/funkin/graphics/FunkinSprite.hx
Labels: type: minor bug, status: reviewing internally, size: medium, pr: haxe

#5852 `[feat/flixel-animate]` Nudge Character Select Objects to be consistent with pre-flixel-animate
  source/funkin/ui/charSelect/CharSelectSubState.hx
Labels: type: minor bug, status: accepted, size: medium, pr: haxe
