Repository FunkinCrew/Funkin, pull requests merged in 2025-09, with the labels that each got.

#5924 [GITHUB] Add *the* checkbox to the Crash Template
  .github/ISSUE_TEMPLATE/crash.yml
Labels: status: accepted, pr: github, type: github, size: tiny

#4140 [BUGFIX] Stop Chart Editor audio playback when dragging playhead
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#5975 [DOCS] Use game logo from FNF Wiki in README
  README.md
Labels: type: documentation, status: pending triage, pr: documentation, size: tiny
