Repository FunkinCrew/Funkin, pull requests merged in 2025-05, with the labels that each got.

#4906 [DOCS] Update Charting PR policy in Contributing Guide
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4901 Remove another error from a merge-conflict in CHANGELOG
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4589 Fix memory overflow in crash log
  source/funkin/util/MemoryUtil.hx
Labels: type: minor bug, status: reviewing internally, size: small, pr: haxe

#4065 FreeplayScore seventh/million number not being cleared fix
  source/funkin/ui/freeplay/FreeplayScore.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#4279 Chart editor - None character
  source/funkin/play/PlayState.hx
Labels: type: enhancement, topic: chart editor, status: accepted, size: small, pr: haxe

#3694 [FEATURE] Registry Macro
  source/funkin/data/DefaultRegistryImpl.hx
  source/funkin/data/IRegistryEntry.hx
  source/funkin/data/dialogue/conversation/ConversationRegistry.hx
  source/funkin/data/dialogue/dialoguebox/DialogueBoxRegistry.hx
  source/funkin/data/dialogue/speaker/SpeakerRegistry.hx
  source/funkin/data/freeplay/album/AlbumRegistry.hx
  source/funkin/data/freeplay/player/PlayerRegistry.hx
  source/funkin/data/freeplay/style/FreeplayStyleRegistry.hx
  source/funkin/data/notestyle/NoteStyleRegistry.hx
  source/funkin/data/song/SongRegistry.hx
  source/funkin/data/stage/StageRegistry.hx
  source/funkin/data/story/level/LevelRegistry.hx
  source/funkin/play/cutscene/dialogue/Conversation.hx
  source/funkin/play/cutscene/dialogue/DialogueBox.hx
  source/funkin/play/cutscene/dialogue/Speaker.hx
  source/funkin/play/notes/notestyle/NoteStyle.hx
  source/funkin/play/song/Song.hx
  source/funkin/play/stage/Stage.hx
  source/funkin/ui/freeplay/Album.hx
  source/funkin/ui/freeplay/charselect/PlayableCharacter.hx
  source/funkin/ui/story/Level.hx
  source/funkin/util/macro/RegistryMacro.hx
  source/funkin/util/macro/SingletonMacro.hx
  source/funkin/util/tools/ISingleton.hx
Labels: type: enhancement, status: accepted, size: large, pr: haxe

#4382 [BUGFIX] Prevent softlock caused by removing all keybinds for a UI control
  source/funkin/ui/options/ControlsMenu.hx
Labels: type: major bug, status: accepted, size: medium, pr: haxe

#4724 [BUGFIX] Fix removal of stacked events
  source/funkin/util/tools/SongEventDataArrayTools.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: small, pr: haxe

#4703 [BUGFIX] Disable Movement in OptionsState when the Clear Save Data prompt is active
  source/funkin/ui/options/OptionsState.hx
Labels: type: major bug, status: accepted, size: small, pr: haxe

#4729 FlxG.fixedTimestep=false
  source/funkin/InitState.hx
  source/funkin/play/PlayState.hx
Labels: status: accepted, type: optimization, size: small, pr: haxe

#4214 Freeplay UI fixes
  source/funkin/ui/freeplay/CapsuleOptionsMenu.hx
  source/funkin/ui/freeplay/CapsuleText.hx
  source/funkin/ui/freeplay/FreeplayState.hx
  source/funkin/ui/freeplay/LetterSort.hx
  source/funkin/ui/freeplay/SongMenuItem.hx
Labels: type: minor bug, status: pending triage, size: large, pr: haxe, topic: freeplay

#4913 [BUGFIX] Fix the Behavior of Selected Song when Changing Filters in Freeplay
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: pending triage, size: small, pr: haxe, topic: freeplay

#4358 [BUGFIX] Fix the chance of getting the special pause menu
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: pending triage, size: small, pr: haxe

#4898 [BUGFIX] Fix `Fix scoring changes`
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, topic: scoring, status: pending triage, size: small, pr: haxe

#4923 [BUGFIX] Fix `Fix Fix scoring changes`
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, topic: scoring, status: pending triage, size: small, pr: haxe

#4266 [BUGFIX] Chart Editor - Fix resolution breaking after returning from PlayState
  source/funkin/ui/debug/charting/ChartEditorState.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: small, pr: haxe

#3090 [BUGFIX] Animation Editor not saving the file name
  source/funkin/ui/debug/anim/DebugBoundingState.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe, topic: animation editor

#4227 Main menu not remembering freeplay menu selection fix
  source/funkin/ui/mainmenu/MainMenuState.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe, topic: freeplay

#4617 [BUGFIX] Destroy the volume plugin when wiping save data
  source/funkin/util/plugins/VolumePlugin.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#4930 <RECOVERY> Restore two of Lasercar's commits
  source/funkin/play/PlayState.hx
  source/funkin/ui/freeplay/FreeplayScore.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe

#4933 Fix the Changelog on the develop branch again
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4934 <RECOVERY> Restore a commit from Hundrec
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4564 [BUGFIX] Fix texture atlas sprites looping infinitely
  source/funkin/graphics/adobeanimate/FlxAtlasSprite.hx
Labels: type: minor bug, status: accepted, size: small, pr: haxe, topic: art and animation

#4938 2 more commits from #3032
  source/funkin/modding/PolymodHandler.hx
  source/funkin/ui/debug/charting/ChartEditorState.hx
  source/funkin/ui/debug/stageeditor/StageEditorState.hx
  source/funkin/ui/debug/stageeditor/components/BackupAvailableDialog.hx
  source/funkin/util/FileUtil.hx
  source/funkin/util/WindowUtil.hx
Labels: type: major bug, status: accepted, size: large, pr: haxe

#4936 [BUGFIX] Prevent the game from crashing when clicking a recent chart before tooltip shows up
  source/funkin/ui/debug/charting/dialogs/ChartEditorWelcomeDialog.hx
Labels: type: major bug, status: pending triage, topic: chart editor, size: small, pr: haxe

#4942 [DOCS] CHANGELOG for 0.6.4 + Bump version to 0.6.4
  CHANGELOG.md
  project.hxp
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4921 Bump Repo Versions to 0.6.4
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation, pr: github

#4944 [DOCS] Add a Missing New Contributor for 0.6.4
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4992 [DOCS] Add documentation for using Tracy profiler
  docs/TRACY.md
Labels: type: documentation, status: accepted, size: medium, pr: documentation

#5032 [DOCS] Changes to the Contributing Guide's rejected features
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#5025 [GITHUB] Clean up PR Template
  .github/pull_request_template.md
Labels: status: pending triage, size: medium, pr: github, type: github

#4946 [DOCS] Four more Freeplay entries for 0.6.4 Changelog
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#5020 [DOCS] Add a missing first-time contributor to v0.6.4 changelog
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#5068 [GITHUB] More PR size labels
  .github/changed-lines-count-labeler.yml
Labels: status: pending triage, size: medium, pr: github, type: github

#5093 [CHORE + GITHUB] Merge `main` into `develop`, tiny n huge edition
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  .github/changed-lines-count-labeler.yml
  .github/pull_request_template.md
  CHANGELOG.md
  docs/COMPILING.md
  docs/CONTRIBUTING.md
  docs/TRACY.md
Labels: status: pending triage, size: medium, pr: documentation, pr: github, type: chore

#5101 [GITHUB] Adjust PR size labeler thresholds
  .github/changed-lines-count-labeler.yml
Labels: status: pending triage, size: medium, pr: github, type: github

#5102 [CHORE + GITHUB] Merge main into develop, again edition
  .github/changed-lines-count-labeler.yml
Labels: status: pending triage, size: medium, pr: github, type: chore
