Repository FunkinCrew/Funkin, pull requests merged in 2025-04, with the labels that each got.

#4445 Bump repo versions to 0.6.2
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation, pr: github

#4555 Use public URLs for git submodules
  .gitmodules
Labels: size: small

#4615 [DOCS] Restore Contributing Guide to latest version
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: large, pr: documentation

#4567 [DOCS] Remove 0.6.0 Changelog entries that weren't implemented + polish
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4689 [DOCS] Two more Chart Editor entries in Changelog
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4609 [DOCS] Remove removed debug keys
  docs/Funkin' Debug Hotkeys.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4399 [DOCS] Add missing documentation to `Module`
  source/funkin/modding/module/Module.hx
Labels: type: documentation, status: pending triage, size: medium, pr: haxe

#4708 [DOCS] Add Combo Milestones to Rejected Features list
  docs/CONTRIBUTING.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4791 [DOCS] Contributor's Guide Maintenance Policy
  docs/CONTRIBUTING.md
Labels: type: documentation, status: accepted, size: medium, pr: documentation

#4800 Recommend Funkin's fork of hmm
  docs/COMPILING.md
Labels: type: documentation, status: pending triage, status: accepted, pr: documentation

#4777 [DOCS] Clarify 0.6.0 Changelog Entry
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4801 [DOCS] Rewrote recommendation to use Funkin haxelib and hmm
  docs/COMPILING.md
Labels: type: documentation, status: accepted

#4448 [GITHUB + DOCS] Update Issue Templates and CONTRIBUTING.md to 0.6.3
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  docs/CONTRIBUTING.md
Labels: status: accepted, size: medium, pr: documentation, pr: github, type: github

#4816 [DOCS] Changelog for 0.6.3
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4866 [DOCS] Additional 0.6.3 Changelog bugfix entries + updated commit links
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4868 Remove Changelog from game files
  project.hxp
Labels: status: pending triage, size: small, pr: haxe, type: github

#4869 [DOCS] Update CHANGELOG.MD to include my pull request.
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4873 Remove leftover from merge-conflict in CHANGELOG
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4883 [DOCS] Credit Lasercar for a crash fix from an assets PR
  CHANGELOG.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4881 [BIGFIX] Fix Options not loading from Save Data
  source/Main.hx
  source/funkin/Preferences.hx
  source/funkin/save/Save.hx
Labels: type: major bug, status: accepted, size: medium, pr: haxe

#4880 [BUGFIX] Fix scoring changes
  source/funkin/play/PlayState.hx
  source/funkin/play/ResultState.hx
  source/funkin/play/components/ClearPercentCounter.hx
  source/funkin/play/scoring/Scoring.hx
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: major bug, status: accepted, size: medium, pr: haxe

#4216 Chart editor - Don't add default difficulty to song metadata
  source/funkin/ui/debug/charting/ChartEditorState.hx
  source/funkin/ui/debug/charting/handlers/ChartEditorImportExportHandler.hx
Labels: type: minor bug, topic: chart editor, status: accepted, size: medium, pr: haxe

#4665 [BUGFIX] Fix Freeplay Softlock when getting out of a song
  source/funkin/ui/freeplay/FreeplayDJ.hx
Labels: type: major bug, status: accepted, size: small, pr: haxe

#4885 [BUGFIX] Fix two issues with the Random Capsule in Freeplay
  source/funkin/ui/freeplay/FreeplayState.hx
Labels: type: minor bug, status: pending triage, size: medium, pr: haxe

#4815 [BUGFIX] Fix Medals being granted sometimes crashing the game
  source/funkin/api/newgrounds/Medals.hx
Labels: type: major bug, status: needs revision, size: small, pr: haxe, topic: medals

#4778 [BUGFIX] Avoid crash when restarting song without characters.
  source/funkin/play/PlayState.hx
Labels: type: major bug, topic: mods, status: accepted, size: medium, pr: haxe

#4769 [BUGFIX] Prevent the game from Crashing when Hot-Reloading during Dialogue
  source/funkin/play/PlayState.hx
Labels: type: major bug, status: needs revision, size: small, pr: haxe

#4391 [BUGFIX] Prevent chart editor from loading invalid variation
  source/funkin/ui/debug/charting/handlers/ChartEditorImportExportHandler.hx
Labels: type: major bug, topic: chart editor, status: needs revision, size: small, pr: haxe
