Repository FunkinCrew/Funkin, pull requests merged in 2025-01, with the labels that each got.

#3936 Use "event.isComboBreak" instead of "isComboBreak"
  source/funkin/play/PlayState.hx
Labels: type: minor bug, status: accepted, small, haxe

#4006 Move changes made in main to develop
  .github/label-actions.yml
  .github/workflows/label-issue.yml
  CHANGELOG.md
Labels: large, haxe, documentation

#3843 "Fixed" the Apache 2.0 LICENSE file part
  LICENSE.md
Labels: status: pending triage, small, documentation

#3835 [ENHANCEMENT]: Compiling Error Issue Template
  .github/ISSUE_TEMPLATE/compiling.yml
Labels: type: documentation, status: accepted, medium, documentation

#3622 [ENHANCEMENT] Add `setAnonymousField();` to `ReflectUtil`
  source/funkin/util/ReflectUtil.hx
Labels: status: accepted, haxe

#3809 [ENHANCEMENT] More `ReflectUtil` additions.
  source/funkin/util/ReflectUtil.hx
Labels: type: enhancement, mods, status: accepted, haxe

#3934 [ENHANCEMENT] Set Default Gamepad Controls for Freeplay Menu
  source/funkin/input/Controls.hx
Labels: type: enhancement, status: accepted, haxe

#3721 [ENHANCEMENT] Add Script Events for losing/gaining focus
  source/funkin/modding/IScriptedClass.hx
  source/funkin/modding/events/ScriptEvent.hx
  source/funkin/modding/events/ScriptEventDispatcher.hx
  source/funkin/modding/events/ScriptEventType.hx
  source/funkin/modding/module/Module.hx
  source/funkin/ui/MusicBeatState.hx
  source/funkin/ui/MusicBeatSubState.hx
Labels: status: accepted, medium, haxe

#4008 Quick `develop` branch compilation fix
  source/funkin/util/ReflectUtil.hx
Labels: small, haxe

#3872 [ENHANCEMENT] Preference Descriptions + Other Tweaks
  source/funkin/ui/options/PreferencesMenu.hx
Labels: status: pending triage, medium, haxe

#3618 [ENHANCEMENT] Add offsets support for Album titles
  source/funkin/data/freeplay/album/AlbumData.hx
  source/funkin/ui/freeplay/Album.hx
  source/funkin/ui/freeplay/AlbumRoll.hx
Labels: type: enhancement, mods, status: accepted, medium, haxe

#3955 Fix Resync Buffer
  source/funkin/play/PlayState.hx
Labels: status: accepted, large, haxe

#4009 [ENHANCEMENT] [MODDING] Several QOL modding changes
  source/funkin/modding/IScriptedClass.hx
  source/funkin/modding/events/ScriptEvent.hx
  source/funkin/modding/events/ScriptEventDispatcher.hx
  source/funkin/modding/module/Module.hx
  source/funkin/play/PauseSubState.hx
  source/funkin/play/PlayState.hx
  source/funkin/play/notes/Strumline.hx
  source/funkin/play/notes/SustainTrail.hx
  source/funkin/play/song/Song.hx
  source/funkin/play/stage/Bopper.hx
  source/funkin/play/stage/Stage.hx
Labels: type: enhancement, mods, status: accepted, large, haxe

#3853 [ENHANCEMENT] Add `DEBUG_BUILD` to `Constants`.
  source/funkin/util/Constants.hx
Labels: type: enhancement, status: accepted, small, haxe

#3881 [BUGFIX] Mouse cursor is no longer visible outside of the ingame editors
  source/funkin/InitState.hx
Labels: status: accepted, small, haxe

#3820 [BUGFIX] Fix early return in `hasBeatenSong()`
  source/funkin/save/Save.hx
Labels: type: minor bug, status: accepted, small, haxe

#3861 [BUGFIX] Prevent constant Vocal Resyncs on Inst-only songs
  source/funkin/play/song/Song.hx
Labels: status: accepted, small, haxe

#4017 [GITHUB] Auto-close issues with the `status: stale` label
  .github/label-actions.yml
Labels: type: documentation, status: pending triage, medium, documentation

#3918 [GITHUB] Change size label names in PR labeler
  .github/changed-lines-count-labeler.yml
Labels: type: documentation, status: pending triage, size: medium, pr: documentation

#4026 [DOCS] Update Contributing section in README
  README.md
Labels: type: documentation, status: pending triage, size: small, pr: documentation

#4023 [GITHUB] Changes to the PR labeler workflow
  .github/labeler.yml
Labels: status: pending triage, size: medium, pr: github, type: github

#3027 Change UI Controls Order
  source/funkin/input/Controls.hx
Labels: type: enhancement, status: pending triage, size: small, pr: haxe

#4019 [ENHANCEMENT] EVEN MORE `ReflectUtil` additions.
  source/funkin/util/ReflectUtil.hx
Labels: type: enhancement, status: pending triage, topic: mods, size: medium, pr: haxe

#4034 [GITHUB] Add `status: needs r&d` label to label actions
  .github/label-actions.yml
Labels: status: pending triage, size: medium, pr: github, type: github

#4035 [GITHUB] Add `status: pending triage` to all PRs
  .github/workflows/label-pull-request-on-create.yml
Labels: status: pending triage, size: medium, pr: github, type: github

#4053 [GITHUB] Add Links to Guides in Issue Templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/charting.yml
  .github/ISSUE_TEMPLATE/compiling.yml
  .github/ISSUE_TEMPLATE/crash.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Labels: status: pending triage, size: medium, pr: github, type: github
